@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap');

:root{
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4{
  font-family: "Baloo 2", sans-serif;
}

/* Scrollbar para toda la app */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ff637e;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #1e1a4d;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1e1a4d;
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #1e1a4d #ff637e;
  }

::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
* {
  scrollbar-width: none;
}


  .leaflet-container{
    height: 100%;
  }

input[type="checkbox"],
input[type="radio"] {
    accent-color: #ff637e;
}

label:has(input:checked) {
    color: #ff637e;
}


.marker {
  position: relative;
  /* display: inline-block; */
  width: 46px;
  height: 46px;
  /* background: #1b134f;  */
  border-radius: 50%;
  /* border: 2px solid #1b134f; */
}

.marker img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #1b134f;
  background: #1b134f;
}

/* Triángulo */
.marker::after {
  content: "";
  position: absolute;
  bottom: -19px;
  right: -11px;
  transform: rotate(-30deg);
  width: 0;
  height: 0;
  border-left: 21px solid transparent;
  border-right: 20px solid transparent;
  border-top: 35px solid #1b134f; /* color del triángulo */
  z-index: -2;
}

.marker::before {
  content: "";
  position: absolute;
  bottom: -17px;
  right: -10px;
  transform: rotate(-30deg);
  width: 0;
  height: 0;
  border-left: 21px solid transparent;
  border-right: 20px solid transparent;
  border-top: 35px solid #ff637e;
  z-index: -1;
}

