html {
  scroll-behavior: smooth;
}

/* Scrollbar para toda la app */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #053345;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00b8db;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #00b8db #053345;
  }


  .leaflet-container{
    height: 100%;
  }